{% extends "layout.html" %}
{% block page %}
    <div class="panel panel-primary">
        <div class="panel-heading">
                <h4>Manage Your Subscriptions</h4>
        </div>
        <div class="panel-body">
            <div class="row">
                {% for cat in all_data: %}
                    <div class="col-md-3 category">
                        <div class="category-heading">
                            {{ cat.name }}
                        </div>
                        <div class="category-list">
                            <ul>
                                {% for w in cat.websites: %}
                                    <li><input type="checkbox" class="website" id='{{ w.id }}'> {{ w.name }}&nbsp;&nbsp;<a href="{{ w.url }}" target="_blank"><img src="{{ url_for('static', filename='img/icon-link.png') }}" width="12" height="12"></a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-1">
            <button class="btn btn-success" id="save">Save</button>
        </div>
        <div class="col-md-1">
            <a href="{{ url_for('logout') }}" class="btn btn-danger">Log out</a>
        </div>
        <div class="col-md-5"></div>
    </div>

    <script>
        $(document).ready(function(){
            {% for s in subscriptions: %}
                $("#{{s.id}}").attr("checked", true);
            {% endfor %}

            $(document).on('click', '#save', function(){
                var selected = [];
                $(".website").each(function(){                                   
                    if ($(this).is(':checked') == true) {
                        selected.push($(this).attr("id"));
                    }                    
                });
                
                $.ajax({
                    url     : "{{ url_for('save_subscriptions') }}",
                    data    : {"selected": JSON.stringify(selected)},
                    type    : 'POST',
                    success : function(e){
                                //e is a string containing status message
                                alert(e);
                    },
                    error   : function(a,b,c){
                        alert("Oops, an error occurred! Please try again.");
                        console.log(a);
                        console.log(c);
                    }
                });

            });
        });
    </script>
{% endblock %}
