{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block page %}
    <div class="jumbotron">
        <h1>
            Stay Up2date - Always!
        </h1>
        <p>
            Ever felt that you're drowning in the endless number of sites to follow? Let's face it: Today we have more information and lesser time than we ever had. Then how do you stay up to date on your favorite websites? The answer is Up2date, a no-frills app that scans your favorite websites for you and sends you a crisp, short summary of important items. Try it now!
        </p>
    </div> 

    <div class="row">
        <div class="col-md-6">
            <div class="alert alert-info">
                <h4>Registered users log in here</h4>
            </div>            
            {{ wtf.quick_form(login_form) }}
        </div>
        <div class="col-md-6">
            <div class="alert alert-danger">
                <h4>No account? Register here!</h4>
            </div>            
            {{ wtf.quick_form(reg_form) }}
        </div>        
    </div>
    
{% endblock %}