{% extends "layout.html" %}
{% block page %}
    <div class="jumbotron">
        <h1>
            Stay Up2date - Always!
        </h1>
        <p>
            Ever felt that you're drowning in the endless number of sites to follow? Let's face it: Today we have more information and lesser time than we ever had. Then how do you stay up to date on your favorite websites? The answer is Up2date, a no-frills app that scans your favorite websites for you and sends you a crisp, short summary of important items. Try it now!
        </p>
    </div> 

    <div class="row">
        <div class="col-md-6">
            <div class="alert alert-info">
                <h4>Registered users log in here</h4>
            </div>            
            <form class="form-signin" role="form" action="{{ url_for('login') }}" method="post">
                {{ login_form.hidden_tag() }}
                <div class="form-group">
                    {{ login_form.email.label }}
                    {{ login_form.email ( ** {'class' : 'form-control'} ) }}
                </div>
                <div class="form-group">
                    {{ login_form.password.label }}
                    {{ login_form.password ( ** {'class' : 'form-control'} ) }}
                </div>
                <div class="form-group">
                    {{ login_form.remember_me }} {{ login_form.remember_me.label }}         
                </div>
                <div class="form-group">
                    {{ login_form.submit ( ** {'class' : "btn btn-primary"} ) }}
                </div>          
            </form>
        </div>
        <div class="col-md-6">
            <div class="alert alert-danger">
                <h4>No account? Register here!</h4>
            </div>            
            <form class="form-signin" role="form" action="{{ url_for('register') }}" method="post">
                {{ reg_form.hidden_tag() }}
                <div class="form-group">
                    {{ reg_form.email.label }}
                    {{ reg_form.email ( ** {'class' : 'form-control'} ) }}
                </div>
                <div class="form-group">
                    {{ reg_form.password.label }}
                    {{ reg_form.password ( ** {'class' : 'form-control'} ) }}
                </div>
                <div class="form-group">
                    {{ reg_form.submit ( ** {'class' : "btn btn-primary"} ) }}
                </div>          
            </form>
        </div>        
    </div>
    
{% endblock %}